// Define variables for your color scheme
:root {
  --brand-yellow: #EA9C07;
  --brand-pink: #EB6660;
  --brand-medium-pink: #F5A2A7;
  --brand-baby-pink: #FFE0EE;
  --brand-light-yellow: #FEFDCA;
  --brand-white: #FFFFFD;
  --brand-gray: #F4EBE9;
  --brand-black: #172226;
  --header-font: 'League Spartan', serif;
  --subtitle-font: 'Roboto', sans-serif;
  --body-font: 'Raleway', sans-serif;
}

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
