.about-container {
  padding-top: 10rem;
}

.about-img {
  width: 750px;
  height: 300px;
  object-fit: cover;
  object-position: 12px 35%;;
  display: block;
  margin: auto;
  filter: grayscale(10%);
}

.about-text {
  padding: 0 8rem 8rem 8rem;
}
