// Specific CSS for your home-page
.para1 {
  background-image: url('https://infini.fra1.cdn.digitaloceanspaces.com/box.png');
  height: 600px;
  background-size: cover;
  background-position: center;
}
