.logos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3rem 1rem;
  background-color: #fff;
}

.logos img {
  width: 100px;
  height: 100%;
  filter: grayscale(100%);
  opacity: 0.8;
}
