.steps-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--brand-baby-pink);
  width: 100%;
}

.steps-section h3 {
  font-size: 42px;
  font-family: var(--header-font);
  color: var(--brand-pink);
  text-align: center;
}

.steps {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
}

.step {
  margin: 15px;
  padding: 15px;
  // border: 1px solid var(--brand-black);
  border-radius: 5px;
  flex: 1 100%;
  color: var(--brand-pink);
  font-weight: 400;
  max-width: 300px;
  height: 450px;
  z-index: 99;
}

.step img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  margin: 15px auto;
}

.step h4 {
  padding-top: 5px;
  margin-bottom: 5px;
  font-weight: 700;
}

.step-2 img {
  object-position: 5px 10%;
  width: 88%;
}
