html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--header-font);
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

h4,
h5,
h6 {
  font-family: var(--subtitle-font);
  margin-bottom: 1.5rem;
  margin-top: 0;
}

main {
  display: block;
}

h1 {
  font-size: 42px;
  margin: 0.67em 0;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

a {
  text-decoration: none;
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}
