<footer class="d-flex">
  <ul>
    <li><strong>Legal</strong></li>
    <li>Datenschutz</li>
    <li>Impressum</li>
  </ul>
  <ul>
    <li><strong>Informationen</strong></li>
    <li>Über uns</li>
    <li>Wie funktioniert es?</li>
    <li>FAQ</li>
  </ul>
  <ul>
    <li><strong>Kontakt</strong></li>
    <li>Instagram</li>
    <li>Tik Tok</li>
    <li>infinibx@gmail.com</li>
  </ul>
</footer>
