<div class="steps-section">
  <h3>Wie funktioniert es?</h3>
  <div class="steps">
    <div class="step step-1">
      <%= image_tag('step1.png') %>
      <div class="text">
        <h4>Erhalte unsere Auswahl</h4>
        <p>
          an nachhaltiger Umstands- und Stillkleidung, die auf dich, deine Mutterschaft und deinen Style zugeschnitten ist.
        </p>
      </div>
    </div>
    <div class="step step-2">
      <%= image_tag('sustainabelly.png') %>
      <div class="text">
        <h4>Trage und liebe sie</h4>
        <p>
          so lange, wie sie dir passt. Weniger Zeit für die Suche nach der richtigen Kleidung bedeutet, dass du dich mehr um dein Baby kümmern kannst.
        </p>
      </div>
    </div>
    <div class="step step-3">
      <%= image_tag('step3.png') %>
      <div class="text">
        <h4>Schicke sie zurück,</h4>
        <p>
          sodass andere Mütter sich genauso daran erfreuen können wie du. Gemeinsam können wir die Mode nachhaltiger gestalten!
        </p>
      </div>
    </div>
  </div>
</div>
