<%= render 'navbar' %>

<div class="container about-container">
  <img src="https://i.ibb.co/Mgk6nrF/20221107-NVP-8933.jpg" alt="infini team" class="about-img">
  <div class="about-text">
    <h1 class="text-center">Über uns</h1>
    <p>
      Wir sind motivierte arbeitende Frauen, kreative Seelen, Modebegeisterte, Freundinnen, Partnerinnen und Mütter, die eine Liebe zur Umwelt teilen.
      Unser Wunsch, den Planeten zu schützen, die Zukunft unserer Kinder zu sichern und andere Frauen und Familien zu unterstützen, hat uns mit einer Vision für eine zirkulärere Einstellung zur Umstandsmode zusammengebracht.
      Bei Infini stehen wir für umweltfreundliche und faire Mode, Selbstfürsorge, Authentizität und Inklusivität - nicht für kurzlebige Trends. Wir setzen die Kreislaufwirtschaft in die Praxis um, indem wir mit unserem Mietmodell sicherstellen, dass alle Kleidungsstücke ihr volles Potenzial entfalten.
      Neben die Miete von Kleidung bauen wir eine Gemeinschaft auf - unsere Infini-Familie.
    </p>
  </div>
</div>

<%= render 'footer' %>
