// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "base/reset";
@import "base/base";
@import "components/index";
@import "components/newsletter";
@import "components/buttons";
@import "pages/index";
@import "pages/hero";
@import "pages/steps";
@import "pages/logos";
@import "pages/instagram";
@import "pages/footer";
@import "pages/about";
